{
    "presets": ["@babel/preset-env"],
    "plugins": [],
    "env": {
        "development": {
            "sourceMaps": "inline"
        },
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
